$nprgray: #f2f2f2;
$centerWidth: 950px;
$nprblue: #597eba;
$nprDarkGray: #545960;

body {
  background-color: $nprgray;
  font-family: sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6 {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}
h6, h5 {
  color: lighten($nprDarkGray, 20%);
}

.header {
  position: fixed;
  background-color: white;
  height: 125px;
  width: 100%;
  top: 0;

  .header-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $centerWidth;
  }

  .logo {
    width: 145px;
    margin-top: 10px;
    float: left;
  }

  .nav {
    display: flex;
    width: 620px;
    justify-content: space-between;
    color: $nprblue;
    font: {
      family: sans-serif;
      size: 20px;
    }
    clear: both;
  }

  .icons {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    color: $nprblue;
    font: {
      family: sans-serif;
      size: 15px;
    }
    float: right;
  }
}

.main-content {
  display: flex;
  margin-top: 150px;
  width: $centerWidth;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  .multirow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flexLink {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .largeStory {
    display: flex;
    margin: 10px;
    #largeImage {
      width: 340px;
      margin: 10px;
    }
    .storyText {
      flex-direction: column;
      height: auto;
    }
  }

  .newslink {
    padding-bottom: 10px;
    a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    }
    a:hover {
      color: $nprblue;
    }
  }

  .smallstory {
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    width: 32%;
    img {
      width: 100%;
      height: auto;
    }
    h3:hover {
      color: $nprblue;
    }
  }
}

.mobile-nav {
  display: none;
  float: left;
  overflow: hidden;
  background-color: white;
  position: relative;
  font-size: 20px;
  text-align: right;
  #myLinks {
    display: none;
  }
  .fa-bars {
    color: $nprDarkGray;
  }
  h4 {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  h4.icon {
    background: red;
    display: block;
    position: absolute;
    right: 0;
    top: 0;

  }
}

@media screen and (max-width: 1024px) {
  .mobile-nav {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 70px;
    .header-content {
      display: flex;
      justify-content: center;
      clear: both;
      width: 100%;
    }
    .nav {
      display: none;
    }
    .icons {
      display: none;
    }
  }
  .main-content {
    margin-top: 90px;
  }
}

@media screen and (max-width: 990px) {
  .main-content {
    width: auto;
  }
  #largeImage {
    display: none;
  }
  .multirow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    .smallstory {
      width: 100%;
    }
  }
}
